.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planets {
  margin: 3rem auto;

  tr {
    border-top: solid thin lightgray;

  }

  td,
  th {
    padding: .5rem;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }
}